<header id="header">
    <nav>
      <ul class="nav">
        <a href="{{ site.baseurl }}/#about">
          <li class="left-far-btn">
            <div class="nav-btn">O projektu</div>
          </li>
        </a>
        <a href="{{ site.baseurl }}/#gallery">
          <li class="left-btn">
            <div class="nav-btn">Galerija</div>
          </li>
        </a>
        <li>
          <!--<a href="{{ site.baseurl }}/">-->
          <div class="header-logo">
            <img src="{{ site.baseurl }}/assets/img/hand-left.png" class="hand-left">
            <img src="{{ site.baseurl }}/assets/img/hand-right.png" class="hand-right">
          </div>
          <!--</a>-->
        </li>
        <a href="{{ site.baseurl }}/#collaborate">
          <li class="right-btn">
            <div class="nav-btn">Sodelovanje</div>
          </li>
        </a>
        <a href="{{ site.baseurl }}/#contact">
          <li class="right-far-btn">
            <div class="nav-btn">Kontakt</div>
          </li> 
        </a>
      </ul>
    </nav>
  </div> 
</header>